.dn {
  display: none;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.gun-swiper-slide {
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  pointer-events: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
select {
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
div {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img[src=""] {
  display: none;
}
@font-face {
  font-family: zdy;
  src: url("../font/TrajanPro3-Regular.otf");
}
/*====== 建议body给稿子底色背景 ==============*/
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
::-webkit-input-placeholder {
  color: #320e5f;
}
.homepage {
  width: 100vw;
  height: 0vw;
  height: 100%;
  background: url(../img/bj.png);
  position: relative;
}
.homepage .copy {
  width: 94.93333333vw;
  height: 44.53333333vw;
  position: absolute;
  left: 50%;
  margin-left: -47.46666667vw;
  top: 33.6vw;
  z-index: 999;
}
.homepage .copy img {
  width: 100%;
}
.homepage .log {
  width: 16.4vw;
  height: 22vw;
  position: absolute;
  left: 50%;
  margin-left: -8.2vw;
  top: 7.46666667vw;
}
.homepage .log img {
  width: 100%;
}
.homepage .border-kuan {
  width: 96vw;
  height: 0vw;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -48vw;
  z-index: 4;
}
.homepage .border-kuan img {
  width: 100%;
  height: 100%;
}
.homepage .curtain {
  width: 100vw;
  height: 133.06666667vw;
  z-index: 3;
  position: absolute;
  right: 0vw;
  top: -6.66666667vw;
}
.homepage .curtain img {
  width: 100%;
  height: 100%;
}
.homepage .glass {
  width: 126.8vw;
  height: 118.53333333vw;
  z-index: 2;
  position: absolute;
  right: 0vw;
  top: 0vw;
}
.homepage .glass img {
  width: 100%;
  height: 100%;
}
.homepage .scenery {
  width: 109.46666667vw;
  height: 112.93333333vw;
  position: absolute;
  right: 0vw;
  top: 0vw;
  z-index: 1;
}
.homepage .ship {
  width: 9.46666667vw;
  height: 17.46666667vw;
  position: absolute;
  left: 66.66666667vw;
  top: 73.2vw;
  z-index: 1;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-direction: alternate;
  animation-timing-function: ease;
}
.homepage .ship img {
  width: 100%;
}
.homepage .sofa {
  width: 95.6vw;
  height: 51.86666667vw;
  z-index: 3;
  position: absolute;
  left: 50%;
  margin-left: -47.8vw;
  top: 97.46666667vw;
  background: url(../img/sf.png) no-repeat;
  position: relative;
}
.homepage .sofa .character {
  width: 54.53333333vw;
  height: 34.26666667vw;
  position: absolute;
  left: 15.33333333vw;
  top: -6.13333333vw;
  animation: play01 1s steps(2) infinite;
  overflow: hidden;
  background: url(../img/bushu-rw.png) no-repeat;
}
.homepage .softWen {
  width: 65.73333333vw;
  height: 21.46666667vw;
  left: 0vw;
  bottom: 23.46666667vw;
  position: absolute;
  left: 50%;
  margin-left: -32.86666667vw;
  z-index: 999;
}
.homepage .softWen img {
  width: 100%;
}
.homepage .face {
  width: 31.6vw;
  height: 14.26666667vw;
  left: 0vw;
  bottom: 6.66666667vw;
  position: absolute;
  left: 50%;
  margin-left: -16.33333333vw;
}
.homepage .face img {
  width: 100%;
}
.homepage .plants {
  width: 26.8vw;
  height: 33.46666667vw;
  position: absolute;
  right: 0vw;
  top: 119.6vw;
  z-index: 998;
}
.homepage .plants img:nth-child(1) {
  position: absolute;
  right: 0vw;
  bottom: 0vw;
  width: 15.6vw;
  height: 11.2vw;
}
.homepage .plants img:nth-child(2) {
  position: absolute;
  right: -2.66666667vw;
  bottom: 11.2vw;
  width: 27.86666667vw;
  height: 24vw;
  animation: rock 3s alternate infinite;
}
.photos {
  width: 100vw;
  height: 0vw;
  height: 100%;
  background: url(../img/bj.jpg);
  position: relative;
}
.photos .subduedLight {
  width: 136.66666667vw;
  height: 171.73333333vw;
}
.photos .log {
  width: 13.06666667vw;
  height: 17.2vw;
  position: absolute;
  left: 10.8vw;
  top: 9.73333333vw;
}
.photos .music {
  width: 10.53333333vw;
  height: 10.53333333vw;
  position: absolute;
  right: 7.73333333vw;
  top: 9.2vw;
}
.photos .mirror {
  width: 91.86666667vw;
  height: 106.8vw;
  position: absolute;
  left: 50%;
  margin-left: -45.93333333vw;
  top: 29.2vw;
  background: url(../img/jz.png);
  overflow: hidden;
}
.photos .mirror .add {
  width: 6.66666667vw;
  height: 6.8vw;
  position: absolute;
  left: 50%;
  margin-left: -3.33333333vw;
  top: 66.66666667vw;
  background: url(../img/j.png);
  z-index: 999;
}
.photos .mirror .photos_sc {
  width: 72.26666667vw;
  height: 87.33333333vw;
  top: 50%;
  margin-top: -43.66666667vw;
  position: absolute;
  left: 50%;
  margin-left: -36.13333333vw;
}
.photos .softWen_Two {
  width: 54.4vw;
  height: 11.6vw;
  left: 0vw;
  bottom: 40.13333333vw;
  position: absolute;
  left: 50%;
  margin-left: -27.2vw;
}
.photos .analysis {
  width: 31.6vw;
  height: 14.26666667vw;
  left: 0vw;
  bottom: 13.73333333vw;
  position: absolute;
  left: 50%;
  margin-left: -15.8vw;
}
.photos .border-kuan {
  width: 96vw;
  height: 0vw;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -48vw;
  z-index: 4;
  top: 0;
}
.photos .border-kuan img {
  width: 100%;
  height: 100%;
}
@keyframes play01 {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -818px 0;
  }
}
@keyframes rock {
  0% {
    transform: rotate(10deg);
    transform-origin: 50% 100%;
  }
  100% {
    transform: rotate(-10deg);
    transform-origin: 50% 100%;
  }
}
