.dn {
    display: none;
}


.swiper-container {width: 100%; height: 100%; }
.gun-swiper-slide{font-size: 18px;-webkit-box-sizing: border-box; box-sizing: border-box;}
img {
    width: 100%;
    height: auto;
    pointer-events: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,
select {
    outline: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

div {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img[src=""] {
    display: none;
}

@font-face{
    font-family: zdy;
    src:url("../font/TrajanPro3-Regular.otf");
}
/*====== 建议body给稿子底色背景 ==============*/
body,
html {
    width: 100%;
    height: 100%;
    // background: url(../img/bj.png) no-repeat;
    overflow: hidden;
    position: relative;
}

//表单提示文字颜色
::-webkit-input-placeholder {
    color: #320e5f;
}


//定义设计稿宽度
@screenWidth: 750;
//换算vw
@vw : @screenWidth/100vw;

.setwh(@w: 750, @h: 1460) {
    width: @w/@vw;
    height: @h/@vw;
}


//less 定位函数 左上
.lt(@l: 0, @t: 0) {
    position: absolute;
    left: @l/@vw;
    top: @t/@vw;
}

//右上
.rt(@r: 0, @t: 0) {
    position: absolute;
    right: @r/@vw;
    top: @t/@vw;
}

//less 定位函数 左下
.lb(@l: 0, @b: 0) {
    position: absolute;
    left: @l/@vw;
    bottom: @b/@vw;
}

//右下
.rb(@r: 0, @b: 0) {
    position: absolute;
    right: @r/@vw;
    bottom: @b/@vw;
}

.cl(@w) {
    position: absolute;
    left: 50%;
    margin-left: -@w/2/@vw;
}

.ct(@h) {
    position: absolute;
    top: 50%;
    margin-top: -@h/2/@vw;
}

.homepage{
    .setwh(750, 0);
    height: 100%;
    background: url(../img/bj.png) ;
    position: relative;
    // 文案
    .copy{

        .setwh(712, 334);
        .cl(712);
        top: 252 / @vw;
        z-index: 999;
        img{
            width: 100%;
        }
    }
    // log
    .log{
        .setwh(123, 165);
        .cl(123);
        top: 56 / @vw;
        img{
            width: 100%;
        }
    }

    // 边框
    .border-kuan{
        .setwh(720,0);
        height:1435 / 1435 * 100%;
        .cl(720);
        z-index: 4;
        img{
            width: 100%;
            height: 100%;
        }
    }

    // 窗帘
    .curtain{
        position: absolute;
        .setwh(750,998);
        z-index: 3;
        .rt(0, -50);
        img{
            width: 100%;
            height: 100%;
        }
    }

    // 玻璃
    .glass{
        .setwh(951, 889);
        z-index: 2;
        .rt(0, 0);
        img{
            width: 100%;
            height: 100%;
        }
    }

    // 风景
    .scenery{
        .setwh(821, 847);
        .rt(0, 0);
        z-index: 1;
    }

    // 船
    .ship{
        .setwh(71, 131);
        .lt(401,549);
        z-index:1;
        img{
            width: 100%;
        }
    }

    // 沙发
    .sofa{
        .setwh(717, 389);
        z-index: 3;
        .cl(717);
        top: 731 / @vw;
        background: url(../img/sf.png) no-repeat;
        position: relative;
        .character{
            .setwh(409, 257);
            .lt(115,-46);
        }
    }

    // 软文
    .softWen{
        .setwh(493, 161);
        .lb(0,176);
        .cl(493);
        z-index: 999;
        img{
            width: 100%;
        }
    }

    // 刷脸
    .face{
        .setwh(237, 107);
        .lb(0,50);
        .cl(245);
        img{
            width: 100%;
        }
    }

    // 植物
    .plants{
        .setwh(201, 251);
        .rt(0,897);
        z-index: 998;
        img:nth-child(1){
            .rb(0,0);
            .setwh(117,84)
        }
        img:nth-child(2){
            .rb(0,84);
            .setwh(209,180)
        }
    }
}